body {
    background-color: rgb(255, 197, 2);
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;	
}
p {
    color: black;
}
.content{ /*----------大欄位-------------*/
    margin: 3% auto;
    text-align: center;	
    
}
.content div{
    display: inline-block;
    vertical-align: top;
}
.content_block{
    margin: 3% auto;
	text-align: center;
	background-color: #fff;
    border-radius: 8px;
    width: 60%;	

}
input{
    border: 1px solid #ccc!important;
    border-radius: 4px;
    padding: 8px;
    margin: 2% 6%;
    width: 30%;
}