@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    background-color: #FFC700;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.container {
    max-width: 480px;
}
/*------------------------------------------------*/

input {
  width: 100%;
  border: 0;
  border-bottom: 1.5px solid #000;
  outline: 0;
  color: #000;
  padding: 7px 0;
  background: transparent;
}

.form-check-input:checked {
  
  background-color: #000;
  border-color: #000;

  
 }
 